.input-box input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: sans-serif;
  font-size: 0.95rem;
}

.input-box input[type="email"],
.input-box input[type="password"] {
  background-color: #fff;
  border-color: #bbb;
  color: #555;
}

.invalid input[type="email"],
.invalid input[type="password"] {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input[type="email"]:focus,
.invalid input[type="password"]:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
  margin: 8px;
}
