.input-box {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 4rem;
  border-bottom: 1px solid black;
  justify-content: flex-start;
  align-items: center;
}

.form {
  width: 100%;
}

.input {
  width: 90%;
  /* text-align: center; */
  margin-left: 1rem;
  border: 0;
  outline: none;
  font-size: 1.3rem;
}
